# ignore all backup files
*.bak
# ignore all org files
*.org
# ignore all class files
*.class
# ingore all text files starting with a,e,i,o and u
[aeiou]*.txt
# ignore .php files
*.php
# DO NOT ignore this file
!index.php

